<div class="container-fluid d-flex">
  <div style="max-width: 650px;" class="mt-5">
    <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" class="d-block" style=" margin-left: auto; margin-right: auto">
    <div class="mt-5">
      <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" style="max-width: 100px; margin-left: auto; margin-right: auto">
      <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" style="max-width: 100px; margin-left: auto; margin-right: auto">
      <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" style="max-width: 100px; margin-left: auto; margin-right: auto">
      <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" style="max-width: 100px; margin-left: auto; margin-right: auto">
      <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" style="max-width: 100px; margin-left: auto; margin-right: auto">
      <img src="https://cdn.discordapp.com/attachments/874715927021748266/1137885098298048542/F22FBucasAAK9o7.jpg" alt="" style="max-width: 100px; margin-left: auto; margin-right: auto">
    </div>
  </div>
  <div class="mt-5">
    <h1>Nom de l'article</h1>
    <p>5/5</p>
    <h2 class="mb-5">prix €</h2>
    <p>description</p>
</div>
</div>
