<!--<nav class="navbar navbar-default">-->
<!--  <div class="container-fluid">-->
<!--    <ul class="nav navbar-nav">-->
<!--      <li routerLinkActive="active">-->
<!--        <a routerLink="books">Livres</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul class="nav navbar-nav navbar-right">-->
<!--      <li routerLinkActive="active">-->
<!--        <a routerLink="auth/signup" *ngIf="!isAuth">Créer un compte</a>-->
<!--      </li>-->
<!--      <li routerLinkActive="active">-->
<!--        <a routerLink="auth/signin" *ngIf="!isAuth">Connexion</a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a *ngIf="isAuth" style="cursor: pointer"> Déconnexion</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
<nav class="navbar card">
  <div class="card-header container-fluid">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
    </ul>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="signin" *ngIf="!isAuth">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" *ngIf="!isAuth">Créer un compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="" *ngIf="isAuth">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
